.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 2rem;
}

.website-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-title {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.button {
    display: inline-block;
    padding: 0.8rem 2rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e74c52;
}

.candidate-button {
    background-color: #1abc9c;
}

.company-button {
    background-color: #3498db;
}

.website-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    animation: fadeIn 1s;
    color: #ff5a5f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  